/* ------------------------ Capter ------------------------ */
/* 1. 바깥 틀 (창문 역할) */
#About-us-header {
    width: 100%;
    height: 72px; 
    overflow: hidden; 
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F5F6F8;
}


#About-us-header .slider-track {
    display: flex;
    width: 2000px; 
    animation: scroll 20s linear infinite; }


#About-us-header .slider-track .slide {
    width: 200px;  padding: 0 30px;    display: flex;
    justify-content: center;
    align-items: center;
}

/* 4. 이미지 스타일 (확대 효과 적용) */
.slide img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
    padding: 0 10px;
}

/* 5. 마우스 올렸을 때 확대 효과 */
.slide img:hover {
    transform: scale(1.1); 
    cursor: pointer;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
}